<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>migs music</string>
	<key>CFBundleExecutable</key>
	<string>MigsMusicMac</string>
	<key>CFBundleIdentifier</key>
	<string>com.migsmusic.mac</string>
	<key>CFBundleName</key>
	<string>migs music</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>migs music reads your Music app playlists so you can pick which ones to sync to your phone.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://michaelhball.github.io/migs-music-mac/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>KepJDVwz+MXZ4wA4EFNyMKnFebciFzNKrXTuO3GtDw8=</string>
</dict>
</plist>
